Repository wassim-k/apollo-orbit: changes, and which Codecov flags are due for each by the changed paths.
All: angular, react, core, codegen

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
      angular:
        target: 100%
        flags:
          - angular
      react:
        target: 100%
        flags:
          - react
      core:
        target: 100%
        flags:
          - core
      codegen:
        target: 100%
        flags:
          - codegen
        
    patch:
      default:
        target: 100%

flags:
  angular:
    paths:
      - packages/angular/src/
  react:
    paths:
      - packages/react/src/
  core:
    paths:
      - packages/core/src/
  codegen:
    paths:
      - packages/codegen/src/

comment:
  layout: "diff"

Release CI
  .github/workflows/ci.yml
  DEVELOPMENT.md
  lerna.json
  packages/angular/package.json
  packages/core/package.json
  packages/react/package.json
Due: none

Release CI
  .github/workflows/ci.yml
  DEVELOPMENT.md
  lerna.json
Due: none

Use default error policy for signal queries and mutations
  packages/angular/src/signals/fragment.ts
  packages/angular/src/signals/mutation.ts
  packages/angular/src/signals/query.ts
  packages/angular/src/types.ts
  packages/angular/tests/signals.spec.ts
  scripts/syncApolloTypes.ts
Due: angular

Release
  packages/angular/package.json
  packages/codegen/package.json
  packages/core/package.json
  packages/react/package.json
Due: none

Reset signal query data when variables is `null`
  packages/angular/src/cacheEx.ts
  packages/angular/src/signals/mutation.ts
  packages/angular/src/signals/query.ts
  packages/angular/tests/signals.spec.ts
Due: angular

Release
  packages/angular/package.json
Due: none

Add `signal.query.once` for signal queries that don't watch the cache
  integration/angular/package.json
  integration/angular/projects/core/src/main.server.ts
  packages/angular/src/internal/queryResult.ts
  packages/angular/src/queryObservable.ts
  packages/angular/src/signals/apolloSignal.ts
  packages/angular/src/signals/index.ts
  packages/angular/src/signals/query.ts
  packages/angular/src/signals/singleQuery.ts
  packages/angular/src/signals/subscription.ts
  packages/angular/src/signals/types.ts
  packages/angular/tests/signals.spec.ts
  scripts/syncApolloTypes.ts
Due: angular

Upgrade graphql-codegen to v7 and split generated types/operations
  integration/angular/projects/core/codegen.ts
  integration/angular/projects/core/src/app/graphql/index.ts
  integration/angular/projects/core/src/app/graphql/operations.ts
  integration/angular/projects/core/src/app/graphql/types.ts
  integration/angular/projects/state/codegen.ts
  integration/angular/projects/state/src/app/graphql/index.ts
  integration/angular/projects/state/src/app/graphql/operations.ts
  integration/angular/projects/state/src/app/graphql/types.ts
  integration/angular/projects/state/src/app/states/theme/gql/theme.graphql
  integration/react/codegen.ts
  integration/react/src/graphql/index.ts
  integration/react/src/graphql/operations.ts
  integration/react/src/graphql/types.ts
  integration/react/src/states/theme/gql/theme.graphql
  integration/server/codegen.ts
  integration/server/package.json
  integration/server/src/resolvers/index.ts
  integration/server/src/resolvers/types.ts
  integration/server/src/types.ts
  package.json
  packages/angular/tests/graphql/codegen.ts
  packages/angular/tests/graphql/index.ts
  packages/angular/tests/graphql/operations.ts
  packages/angular/tests/graphql/types.ts
  packages/angular/tests/signals.spec.ts
  packages/codegen/package.json
  packages/codegen/src/core/visitor.ts
  packages/codegen/tests/__snapshots__/angular.spec.ts.snap
  packages/codegen/tests/__snapshots__/core.spec.ts.snap
  packages/react/tests/graphql/codegen.ts
  packages/react/tests/graphql/index.ts
  packages/react/tests/graphql/operations.ts
  packages/react/tests/graphql/types.ts
  yarn.lock
Due: codegen

Release
  packages/codegen/package.json
Due: none

Upgrade to Apollo Client v4.2 and sync types and overloads
  integration/angular/projects/state/src/app/library/states/author.state.ts
  integration/react/src/library/states/author.state.ts
  package.json
  packages/angular/package.json
  packages/angular/src/apollo.ts
  packages/angular/src/index.ts
  packages/angular/src/signals/apolloSignal.ts
  packages/angular/src/signals/fragment.ts
  packages/angular/src/signals/query.ts
  packages/angular/src/types.ts
  packages/angular/tests/map.spec.ts
  packages/angular/tests/optimisticResponse.spec.ts
  packages/angular/tests/signals.spec.ts
  packages/core/tests/cache.spec.ts
  packages/react/tests/multi.spec.tsx
  scripts/syncApolloTypes.ts
  yarn.lock
Due: angular

Update React state registration and mutation handling for Apollo Client 4.3
  integration/react/package.json
  integration/react/src/library/NewBook.tsx
  packages/react/package.json
  packages/react/src/provider.tsx
  packages/react/src/stateManager.ts
  packages/react/src/useDispatch.ts
  packages/react/src/wrapMutate.ts
  packages/react/tests/multi.spec.tsx
  packages/react/tests/providerClient.spec.tsx
  packages/react/tests/stateManager.spec.ts
  packages/react/tests/wrapMutate.spec.ts
  packages/react/tsconfig.json
  packages/react/tsconfig.lib.json
  packages/react/vitest.config.ts
Due: react

Release
  packages/angular/package.json
  packages/core/package.json
  packages/react/package.json
Due: none
